<aside class="aside">
  <h1>Menu</h1>
  <ul class="keypad">
    <li class="keypad__item"
        routerLink="/graphs/bars"
        routerLinkActive="active">
      Bars
    </li>
    <li class="keypad__item"
        routerLink="/graphs/double-bars"
        routerLinkActive="active">
      Double Bars
    </li>
    <li class="keypad__item"
        routerLink="/graphs/donut"
        routerLinkActive="active">
      Donut
    </li>
    <li class="keypad__item"
        routerLink="/graphs/donut-http"
        routerLinkActive="active">
      Donut http
    </li>
  </ul>
</aside>